# Ignore virtual environment folder
CellCounting/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.log
*.png

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
runs/*
IDCIA/*
IDCIA v2/*
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.pth
# macOS specific files
.DS_Store

cell_counting/
cell_counting_env/
